<table id="myTable" class="display" cellspacing="0" width="100%">

    <thead>
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>

        <?php foreach ($this->siteSettings as $key => $values) { ?>
        <?php foreach ($values as $a=> $b) { ?>
        <tr>
            <td>
                <?php echo $a; ?> </td>
            <td>
                <input value="<?php echo $b; ?>" class=" <?php echo $a; ?> form-control input-md" name="<?php echo $a; ?>" />
            </td>
            <td>
                <button class="btn btn-info btnSave" type="button" name="<?php echo $a; ?>">Sửa</button>
            </td>
        </tr>
        <?php } ?>
        <?php } ?>

    </tbody>
</table>

<script>
    //gets table
    $(document).ready(function(e) {
        $('.settings').addClass('active');


        $('.btnSave').unbind('click');
        $('#myTable tbody').unbind('click', 'td');

        $('.btnSave').click(function(event) {


            ///dataas: [teen] [gia tri]


            var name = $(this).attr('name');
            var datas = $('.' + name).val();

            $.ajax({
                url: 'add',
                method: 'post',
                dataType: 'json',
                data: name + '=' + datas,
                complete: function(xhr, textStatus) {
                	location.reload();
                }
            }).done(function(data) {
               location.reload();
            });
        });




        //Add custom to table
        var table = $('#myTable').DataTable({
            "pagingType": "full_numbers",
            "language": {
                "emptyTable": "Không có liên hệ nào cho bạn",
                //             	    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "info": "",
                //             	    "infoEmpty": "Showing 0 to 0 of 0 entries",
                "infoEmpty": "",
                "infoFiltered": "(Tìm kiếm từ _MAX_ bản ghi)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Hiện _MENU_ bản ghi",
                "loadingRecords": "Loading...",
                "processing": "Processing...",
                "search": "Tìm kiếm:",
                "zeroRecords": "Không tìm thấy bản ghi nào",
                "paginate": {
                    "đầu": "Đầu",
                    "cuối": "Cuối",
                    "tiếp theo": "Tiếp theo",
                    "quay lại": "Quay lại"
                },
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                }
            }
        });
    });
</script>