<?php echo $this->render('html/header.php');?>
<div class="content">
	<div class="width_wrapper">
		<div class="main_content clearfix">
			<div class="center_content">
				<?php echo $this->layout()->content;?>
			</div>
		</div>
	</div>
</div>
<?php echo $this->render('html/footer.php');?>