<div class="page-header">
    <button data-toggle="modal" data-target="#dialog-form-create" class="btn btn-lg btn-primary" type="button">Tạo mới</button>
</div>
<table id="myTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên ảnh</th>
            <th>Chú ý</th>
            <th>Ảnh</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->Items as $key => $values) { ?>
        <tr data-toggle="modal" data-target="#dialog-form-edit" data-id="<?php echo $values['id'];?>">
            <td>
                <?php echo ++$key; ?> </td>
            <td>
                <?php echo $values[ 'title']; ?> </td>
            <td>
                <?php echo $values[ 'note']; ?> </td>
            <td><img src="<?php echo $values['file']; ?>" width="50px" height="50px" /></td>
            <td>
                <?php echo $values[ 'status']==0? "Chưa kích hoạt": "Đã kích hoạt" ?> </td>
        </tr>
        <?php } ?> </tbody>
</table>
<div class="modal fade create" id="dialog-form-create">
    <?php echo $this->partial('admin-images/form.phtml')?> </div>
<div class="modal fade edit" id="dialog-form-edit">
    <?php echo $this->partial('admin-images/form_edit.phtml')?> </div>
<script>
    //gets table
    $(document).ready(function() {
        $('.images').addClass('active');
        $('#dialog-form-create,#dialog-form-edit').on('hidden.bs.modal', function(e) {
                $('.form-horizontal').trigger("reset");
                $(".title").parent(".col-md-9").removeClass("has-error");
                $(".title").attr("placeholder", "Nhập tên danh mục");
                $(".note").parent(".col-md-9").removeClass("has-error");
                $(".note").attr("placeholder", "Nhập miêu tả");
            });

        function checkError() {

            var flag = true;
            if ($(".title").val().length == 0) {
                flag = false;
                $(".title").parent(".col-md-9").addClass("has-error");
                $(".title").attr("placeholder", "Vui lòng nhập tên");
            } else {
                $(".title").parent(".col-md-9").removeClass("has-error");
                $(".title").attr("placeholder", "Nhập tên danh mục");
            }
            if ($(".note").val().length == 0) {
                flag = false;
                $(".note").parent(".col-md-9").addClass("has-error");
                $(".note").attr("placeholder", "Vui lòng nhập miêu tả");
            } else {
                $(".note").parent(".col-md-9").removeClass("has-error");
                $(".note").attr("placeholder", "Nhập miêu tả");
            }
            return flag;
        }
            //Box Create
        $('#dialog-form-create').on('show.bs.modal', function(e) {
            $('.deleteProducts').hide();
            $('.saveProducts').unbind('click');
            $('.saveProducts').click(function(e) {
                e.preventDefault();
                var dataForm = $('.create .form-horizontal').serialize();
                console.log(dataForm);
                //             $('.create .form-horizontal').find('input, select').each(function(i, field) {
                //                 dataForm[field.name] = field.value;
                //             });
                $.ajax({
                    url: 'add',
                    method: 'post',
                    dataType: 'json',
                    data: dataForm,
                    beforeSend: function() {
                        var check = checkError();
                        if (check != true)
                            return false;
                    },
                    complete: function(xhr, textStatus) {
                        location.reload();
                    }
                }).done(function(data) {
                    location.reload();
                });
            });
        });
        //Box Edit
        $('#dialog-form-edit').on('show.bs.modal', function(e) {
            //     	e.preventDefault();
            var button = $(e.relatedTarget) // Button that triggered the modal
            var recipient = button.data('id') // Extract info from data-* attributes
            console.log(recipient);
            $('.deleteProducts').show();
            //Load data to form
            $.ajax({
                url: 'edit?id=' + recipient + '',
                method: 'post',
                dataType: 'json'
            }).done(function(data) {
                $.each(data, function(val, text) {
                    $('.title').val(text.title);
                    $('.note').val(text.note);
                    $(".image_previer").attr("src", text.file);
                    //                 $('.image_previer').val(text.image);
                    $('.status').val(text.status);
                });
            });
            $('.saveProducts').unbind('click');

            $('.saveProducts').click(function(e) {
                e.preventDefault();
                var dataForm = $('.edit .form-horizontal').serialize();;
                //             $('.create .form-horizontal').find('input, select').each(function(i, field) {
                //                 dataForm[field.name] = field.value;
                //             });
                $.ajax({
                    url: 'add?id=' + recipient + '',
                    method: 'post',
                    dataType: 'json',
                    data: dataForm,
                    beforeSend: function() {
                        var check = checkError();
                        if (check != true)
                            return false;
                    },
                    complete: function(xhr, textStatus) {
                        location.reload();
                    }
                }).done(function(data) {
                    location.reload();
                });
            });
            $('.deleteProducts').unbind('click');
            $('.deleteProducts').click(function(e) {
                e.preventDefault();
                var $btn = $(this).button('loading');
                $.ajax({
                    type: "POST",
                    url: 'delete',
                    data: {
                        id: recipient
                    },
                    complete: function(xhr, textStatus) {
                        location.reload();
                    },
                    success: function(data) {
                        console.log(data);
                    }
                }).fail(function(data) {
                    $btn.button('reset');
                    console.log(data);
                }).done(function(data) {
                    location.reload();
                });
            });
        });
        //Add custom to table
        var table = $('#myTable').DataTable({
            "pagingType": "full_numbers",
            "language": {
                "emptyTable": "Không có liên hệ nào cho bạn",
                //             	    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "info": "",
                //             	    "infoEmpty": "Showing 0 to 0 of 0 entries",
                "infoEmpty": "",
                "infoFiltered": "(Tìm kiếm từ _MAX_ bản ghi)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Hiện _MENU_ bản ghi",
                "loadingRecords": "Loading...",
                "processing": "Processing...",
                "search": "Tìm kiếm:",
                "zeroRecords": "Không tìm thấy bản ghi nào",
                "paginate": {
                    "đầu": "Đầu",
                    "cuối": "Cuối",
                    "tiếp theo": "Tiếp theo",
                    "quay lại": "Quay lại"
                },
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                }
            }
        });
    });
</script>