<!DOCTYPE html>
<!--[if IE 7 ]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]> <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]> <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="" lang="en">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
    <?php echo $this->headTitle()?>
    <?php echo $this->headMeta()?>
	<?php echo $this->headLink()?>
	<?php echo $this->headScript()?>
    <!-- GOOGLE FONT --> 
<!-- <link
	href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic'
	rel='stylesheet' type='text/css'> -->

<!-- CSS LIBRARY -->
<link rel="stylesheet" type="text/css"
	href="<?php echo $this->cssUrl; ?>lib/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="<?php echo $this->cssUrl; ?>lib/owl.carousel.css">
<link rel="stylesheet" type="text/css"
	href="<?php echo $this->cssUrl; ?>lib/magnific-popup.css">
<link rel="stylesheet" type="text/css"
	href="<?php echo $this->cssUrl; ?>lib/font-awesome.min.css">

<!-- ANIMATION -->
<link rel="stylesheet" type="text/css"
	href="<?php echo $this->cssUrl; ?>lib/animate.css">

<!-- AWE FONT -->
<link rel="stylesheet" type="text/css"
	href="<?php echo $this->cssUrl; ?>awe-fonts.css">

<!-- PAGE STYLE -->
<link rel="stylesheet" type="text/css"
	href="<?php echo $this->cssUrl; ?>style.css">
<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
<?php 
	$siteConfig = Zend_Registry::get('siteConfig');
?>
<title>Ambrosia</title>
</head>
<body id="page-top" class="home onepage" data-spy="scroll">

	<!-- PRELOADER -->
	<div class="preloader">
		<div class="inner">
			<div class="item item1"></div>
			<div class="item item2"></div>
			<div class="item item3"></div>
		</div>
	</div>
	<!-- END / PRELOADER -->

	<!-- PAGE WRAP -->
	<div id="page-wrap">

		<!-- HEADER -->
		<header id="header" class="header header-2">
			<div class="container">
				<!-- LOGO -->
				<div class="logo">
					<a href="."><img
						src="<?php echo $this->imgUrl?>/logo2.png" alt=""></a>
				</div>
				<!-- END / LOGO -->

				<!-- OPEN MENU MOBILE -->
				<div class="open-menu-mobile">
					<span>Toggle menu mobile</span>
				</div>
				<!-- END / OPEN MENU MOBILE -->

				<!-- NAVIGATION -->
				<nav class="navigation text-right" data-menu-type="1200">
					<!-- NAV -->
					<ul class="nav text-uppercase">
						<li><a href="#page-top">Trang chủ</a></li>
						<li><a href="#good-food">Về chúng tôi</a></li>
						<li><a href="#the-menu">Menu</a></li>
						<li><a href="#contact">Liên hệ</a></li>
					</ul>
					<!-- END / NAV -->

					<!-- SOCIAL -->
					<div class="head-social">
						<a href="<?php echo $siteConfig['config_company']['twitter'];?>" target="_blank"><i class="fa fa-twitter"></i></a> 
						<a href="<?php echo $siteConfig['config_company']['pinterest'];?>" target="_blank"><i class="fa fa-pinterest"></i></a> 
						<a href="<?php echo $siteConfig['config_company']['facebook'];?>" target="_blank"><i class="fa fa-facebook"></i></a>
					</div>
					<!-- END / SOCIAL -->
				</nav>
				<!-- END / NAVIGATION -->
			</div>

		</header>
		<!-- END / HEADER -->

		
        <?php echo $this->blkMedia()?>
		
		<?php echo $this->blkVeChungToi()?>

		<?php echo $this->blkMenu()?>
		
        <?php echo $this->blkLienHe()?>

		<!-- FOOTER -->
		<footer id="footer" class="footer">
			<div class="divider divider-1 divider-color"></div>
			<div class="awe-color"></div>
			<div class="container">
				<div class="copyright text-center">© 2015 ToanNH</div>
			</div>
		</footer>
		<!-- END / FOOTER -->


	</div>
	<!-- END / PAGE WRAP -->

	<!-- LOAD JQUERY -->
	<script
		src="<?php echo $this->jsUrl?>lib/jquery.min.js"></script>

	<!-- GOOGLE MAP -->
	<script type="text/javascript"
		src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script type="text/javascript"
		src="<?php echo $this->jsUrl?>lib/bootstrap.min.js"></script>
	<script type="text/javascript"
		src="<?php echo $this->jsUrl?>lib/jquery.bxslider.min.js"></script>
	<script type="text/javascript"
		src="<?php echo $this->jsUrl?>lib/jquery.easing.min.js"></script>
	<script type="text/javascript"
		src="<?php echo $this->jsUrl?>lib/jquery.owl.carousel.min.js"></script>
	<script type="text/javascript"
		src="<?php echo $this->jsUrl?>lib/masonry.pkgd.min.js"></script>
	<script type="text/javascript"
		src="<?php echo $this->jsUrl?>lib/perfect-scrollbar.min.js"></script>
	<script type="text/javascript"
		src="<?php echo $this->jsUrl?>lib/jquery.magnific-popup.min.js"></script>
	<script type="text/javascript"
		src="<?php echo $this->jsUrl?>lib/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript"
		src="<?php echo $this->jsUrl?>lib/retina.min.js"></script>
	<script type="text/javascript"
		src="<?php echo $this->jsUrl?>lib/jquery.form.min.js"></script>
	<script type="text/javascript"
		src="<?php echo $this->jsUrl?>lib/jquery.validate.min.js"></script>


	<!-- ANIMATION -->
	<script type="text/javascript" src="<?php echo $this->jsUrl?>/lib/jquery.wow.min.js"></script>
	<script type="text/javascript">

    /*==============================
        Is mobile
    ==============================*/
    var isMobile = {
        Android: function() {
            return navigator.userAgent.match(/Android/i);
        },
        BlackBerry: function() {
            return navigator.userAgent.match(/BlackBerry/i);
        },
        iOS: function() {
            return navigator.userAgent.match(/iPhone|iPad|iPod/i);
        },
        Opera: function() {
            return navigator.userAgent.match(/Opera Mini/i);
        },
        Windows: function() {
            return navigator.userAgent.match(/IEMobile/i);
        },
        any: function() {
            return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
        }
    }

    if (isMobile.any()) {
    } else {
        new WOW().init();
    }
</script>

	<script type="text/javascript"
		src="<?php echo $this->jsUrl?>scripts.js"></script>
</body>
</html>