<p>
	<br />
</p>
<?php
// -------------------- SESSAGES ERROR ------------------
if (count ( $this->messageError ) > 0) {
	$errors = $this->formErrors ( $this->messageError, array ('id' => 'errors' ) );
}
?>
<div class="row">
	<div class="col-md-4">
	<?php echo $errors;?>
	</div>
	<div class="col-md-4">
		<div class="panel panel-danger">
			<div class="panel-body">
				<div class="page-header">
					<h3>Đăng nhập quản trị viên</h3>
				</div>
				<form name="appForm" method="post" action="" enctype="multipart/form-data">
					<div class="form-group">
						<label for="exampleInputEmail1">Tài khoản</label>
						<div class="input-group">
							<span class="input-group-addon"><span
								class="glyphicon glyphicon-user"></span></span> <input
								type="text" class="form-control"
								placeholder="Nhập tài khoản của bạn" name="user_name">
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Mật khẩu</label>
						<div class="input-group">
							<span class="input-group-addon"><span
								class="glyphicon glyphicon-star"></span></span> <input
								type="password" class="form-control"
								placeholder="Nhập mật khẩu của bạn" name="password">
						</div>
					</div>
					<hr />
					<button type="button" class="btn btn-success" id="backButton">
						<span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Quay
						lại
					</button>
					<button type="submit" class="btn btn-primary" id="loginButton">
						<span class="glyphicon glyphicon-lock"></span> &nbsp; Đăng nhập
					</button>

				</form>
			</div>
		</div>
	</div>
	<div class="col-md-4"></div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $("#backButton").click(function(){
    	window.history.back();
    });
}); 
</script>