<!DOCTYPE html>
<html lang="en">
<head>
    <?php echo $this->headTitle()?>
    <?php echo $this->headMeta()?>
    <?php echo $this->headLink()?>
	<?php echo $this->headScript()?>

    <title>Admin Cafe</title>

<script src="<?php echo $this->jsUrl ?>jquery-1.11.1.min.js"></script>
<script src="<?php echo $this->jsUrl ?>tinymce/tinymce.min.js"></script>
<!-- Bootstrap core CSS -->
<link href="<?php echo $this->cssUrl ?>bootstrap.min.css"
	rel="stylesheet">
<!-- Bootstrap theme -->
<link href="<?php echo $this->cssUrl ?>bootstrap-theme.min.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<style type="text/css">
body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase>p>.btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}
</style>
<!-- Data table -->
<link rel="stylesheet"
	href="<?php echo $this->cssUrl ?>jquery.dataTables.min.css">
<script type="text/javascript"
	src="<?php echo $this->jsUrl ?>jquery.dataTables.min.js"></script>

<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="<?php echo $this->jsUrl ?>ie-emulation-modes-warning.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">
<?php if (Zend_Auth::getInstance()->hasIdentity() == true) {?>

	<!-- Fixed navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/admin">Quản lý hệ thống</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="categories"><a
						href="<?php echo $this->baseUrl('default/admin-categories/index');?>">Danh
							Mục</a></li>
					<li class="products"><a
						href="<?php echo $this->baseUrl('default/admin-products/index');?>">Sản
							phẩm</a></li>
					<li class="images"><a
						href="<?php echo $this->baseUrl('default/admin-images/index');?>">Hình
							ảnh</a></li>
					<li class="contact"><a
						href="<?php echo $this->baseUrl('default/admin-contact/index');?>">Liên
							hệ</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="settings"><a
						href="<?php echo $this->baseUrl('default/admin-setting/index');?>">Cài đặt</a></li>
					<li class="dropdown"><a aria-expanded="false" role="button"
						data-toggle="dropdown" class="dropdown-toggle" href="#"><?php echo Zend_Auth::getInstance()->getStorage()->read()->user_name ?> <span
							class="caret"></span> </a>
						<ul role="menu" class="dropdown-menu">
<!-- 							<li><a href="#" class="doimatkhau">Đổi mật khẩu</a></li> -->
							<li class="divider"></li>
							<li><a
								href="<?php echo $this->baseUrl('default/public/logout') ?>">Đăng
									xuất</a></li>
						</ul></li>
				</ul>
				<script type="text/javascript">
					$('.doimatkhau').click(function(){
						alert('tesst');
					});
				</script>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
<?php } ?>
	<div class="container theme-showcase" role="main">
            <?php  echo $this->layout()->content;?>
	</div>
	<!-- /container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<script src="<?php echo $this->jsUrl ?>bootstrap.min.js"></script>
	<script src="<?php echo $this->jsUrl ?>docs.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="<?php echo $this->jsUrl ?>ie10-viewport-bug-workaround.js"></script>
</body>
</html>
