<link rel="stylesheet" type="text/css" href="/public/templates/admin/system/js/Valums-File-Uploader-file-uploader/client/fileuploader.css">
<script type="text/javascript" src="/public/templates/admin/system/js/Valums-File-Uploader-file-uploader/client/fileuploader.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var uploader = new qq.FileUploader({
            // pass the dom node (ex. $(selector)[0] for jQuery users)
            element: document.getElementById('file-uploader'),
            // path to server-side upload script
            action: '/default/admin-categories/uploadfile',
            // additional data to send, name-value pairs
            params: {
                mode: 'simple'
            },

            // validation
            // ex. ['jpg', 'jpeg', 'png', 'gif'] or []
            allowedExtensions: ['jpeg', 'jpg', 'png', 'bmp', 'gif'],
            // each file size limit in bytes
            // this option isn't supported in all browsers
            sizeLimit: 0, // max size
            minSizeLimit: 0, // min size

            // set to true to output server response to console
            debug: true,

            // events
            // you can return false to abort submit
            onSubmit: function(id, fileName) {},
            onProgress: function(id, fileName, loaded, total) {},
            onComplete: function(id, fileName, responseJSON) {
                if (responseJSON.success) {
                    $('.image').val(responseJSON.url);
                } else {
                    alert(responseJSON.msg);
                }
            },
            onCancel: function(id, fileName) {},
            onError: function(id, fileName, xhr) {
                console.log(xhr);
            },

            messages: {
                // error messages, see qq.FileUploaderBasic for content
                typeError: "Unfortunately the file(s) you selected weren't the type we were expecting. Only {extensions} files are allowed.",
                sizeError: "{file} is too large, maximum file size is {sizeLimit}.",
                minSizeError: "{file} is too small, minimum file size is {minSizeLimit}.",
                emptyError: "{file} is empty, please select files again without it.",
                onLeave: "The files are being uploaded, if you leave now the upload will be cancelled."
            },
            showMessage: function(message) {
                alert(message);
            }
        });
    });
</script>


<!-- Box -->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="exampleModalLabel">Danh Mục</h4>
        </div>
        <div class="modal-body">
            <form enctype="multipart/form-data" class="form-horizontal">
                <fieldset>

                    <!-- Text input Tên Danh Mục-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title">Tên danh mục:</label>
                        <div class="col-md-9">
                            <input id="title" name="title" placeholder="Nhập tên danh mục" class="form-control input-md title" type="text">
                        </div>
                    </div>

                    <!-- Text input Đường dẫn-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="title_plain">Đường dẫn:
                        </label>
                        <div class="col-md-9">
                            <input id="title_plain" name="title_plain" placeholder="Nhập đường dẫn" class="form-control input-md title_plain" type="text">
                        </div>
                    </div>

                    <!-- File Button Upload image -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="image">Ảnh</label>
                        <div class="col-md-9" style="margin-top: 4px;">
                            <input id="image" name="image" class="input-file image" type="hidden">
                            <div id="file-uploader">
                                <noscript>
                                    <p>Please enable JavaScript to use file uploader.</p>
                                    <!-- or put a simple form for upload here -->
                                </noscript>
                            </div>
                        </div>
                    </div>

                    <!-- Text input Miêu tả-->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="note">Miêu tả:</label>
                        <div class="col-md-9">
                            <input id="note" name="note" placeholder="Nhập miêu tả" class="form-control input-md note" type="text">
                        </div>
                    </div>

                    <!-- Select Basic Loại Sản Phẩm -->
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="status">Trạng thái:</label>
                        <div class="col-md-9">
                            <select id="status" name="status" class="form-control status">
                                <option value="0">Không kích hoạt</option>
                                <option value="1">Kích hoạt</option>
                            </select>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn btn-primary saveProducts" id="saveProducts">Lưu lại</button>
            &nbsp;
            <button type="button" class="btn btn btn-danger deleteProducts" id="deleteProducts">Xoá sản phẩm</button>
        </div>
    </div>
</div>