<table id="myTable" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Email</th>
            <th>Tin nhắn</th>
            <th>Trạng thái</th>
            <th>Ngày gửi</th>
        </tr>
    </thead>

    <tbody>
        <?php foreach ($this->Items as $key => $values) { ?>
        <tr data-toggle="modal" data-target="#my_modal" data-id="<?php echo $values['id'];?>">
            <td>
                <?php echo ++$key; ?>
            </td>
            <td>
                <?php echo $values[ 'name']; ?>
            </td>
            <td>
                <?php echo $values[ 'email']; ?>
            </td>
            <td>
                <?php echo substr($values[ 'message'], 0, 50) ; ?>...</td>
            <td>
                <?php echo $values[ 'status']==0? "Chưa đọc": "Đã đọc & Đã gửi" ?>
            </td>
            <td>
                <?php echo $values[ 'created']; ?>
            </td>
        </tr>
        <?php } ?> </tbody>
</table>
<!-- Box -->
<div class="modal fade" id="my_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                <h4 class="modal-title" id="exampleModalLabel">Tin nhắn</h4> </div>
            <div class="modal-body">
                <form class="data-sentmail" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="email-nguoi-gui" class="control-label">Người nhận:</label>
                        <input type="text" name="mail-nguoi-gui" class="form-control mail-nguoi-gui" id="mail-nguoi-gui" disabled> </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Tin nhắn người gửi:</label>
                        <textarea class="form-control message-text-nhan" name="message-text-nhan" id="message-text-nhan" disabled style="resize: none;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Tin nhắn gửi đi:</label>
                        <textarea class="form-control message-textl" name="message-text" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn btn-primary" id="sentMail">Gửi thư</button> &nbsp;
                <button type="button" class="btn btn btn-danger" id="deleteMail">Xoá thư</button>
            </div>
        </div>
    </div>
</div>
<script>
    //gets table
    $(document).ready(function() {
        $('.contact').addClass('active');
        //Add custom to table
        var table = $('#myTable').DataTable({
            "pagingType": "full_numbers",
            "scrollX": true,
            "language": {
                "emptyTable": "Không có liên hệ nào cho bạn",
                //             	    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                "info": "",
                //             	    "infoEmpty": "Showing 0 to 0 of 0 entries",
                "infoEmpty": "",
                "infoFiltered": "(Tìm kiếm từ _MAX_ bản ghi)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Hiện _MENU_ bản ghi",
                "loadingRecords": "Loading...",
                "processing": "Processing...",
                "search": "Tìm kiếm:",
                "zeroRecords": "Không tìm thấy bản ghi nào",
                "paginate": {
                    "đầu": "Đầu",
                    "cuối": "Cuối",
                    "tiếp theo": "Tiếp theo",
                    "quay lại": "Quay lại"
                },
                "aria": {
                    "sortAscending": ": activate to sort column ascending",
                    "sortDescending": ": activate to sort column descending"
                }
            }
        });
        // Apply the search
        table.columns().every(function() {
            var that = this;
            $('input', this.footer()).on('keyup change', function() {
                that.search(this.value).draw();
            });
        });
        //Sent data to box
        $('#my_modal').on('show.bs.modal', function(e) {
            //Get data
            var targets = $(e.relatedTarget);
            var id = targets.data('id');
            
            $.ajax({
                url: 'edit?id=' + id + '',
                method: 'post',
                dataType: 'json'
            }).done(function(data) {
                console.log(data);
                $.each(data, function(val, text) {
                    $('.modal-title').text('Tin nhắn từ ' + text.name);
                    $('.mail-nguoi-gui').val(text.email);
                    
                    $('.message-text-nhan').val(text.message);
                    
                });
            });
            //Action click Sent Mail
            $('#sentMail').click(function() {
    
                var $btn = $(this).button('loading');
                $.ajax({
                    type: "POST",
                    url: "sentmail",
                    data: 'mailNguoiGui='+$('.mail-nguoi-gui').val()+'&message-text='+$(".message-textl").val(),
                    success: function(data) {
                        $btn.button('reset');
                        console.log(data);
                    },complete: function() {
                   	 $('#my_modal').modal('hide');
                    	$btn.button('reset');
                        console.log(data);
                    }
                }).done(function(data) {
                    $btn.button('reset');
                });
            });
            //Action click Delete Mail
            $('#deleteMail').click(function() {
                $.ajax({
                    type: "POST",
                    url: 'delete',
                    data: {
                        id: id
                    },
                    success: function() {
                        $('#my_modal').modal('hide');
                    },complete: function() {
                   	 $('#my_modal').modal('hide');
                    	$btn.button('reset');
                        console.log(data);
                    }
                }).done(function(data) {
                    location.reload();
                });
            });
        });
    });
</script>