<div class="page-header">
	<button data-toggle="modal" data-target="#dialog-form-create"
		class="btn btn-lg btn-primary" type="button">Tạo mới</button>
</div>


<table id="myTable" class="display" cellspacing="0" width="100%">

	<thead>
		<tr>
			<th>STT</th>
			<th>Loại</th>
			<th>Tên sản phẩm</th>
			<th>Giá</th>
			<th>Ảnh</th>
			<th>Trạng thái</th>
		</tr>
	</thead>
	<tbody>
		<?php
foreach ($this->Items as $key => $values) {
    ?>
		<tr data-toggle="modal" data-target="#dialog-form-edit"
			data-id="<?php echo $values['id'];?>">
			<td><?php echo ++$key; ?></td>
			<td><?php echo $this->Cate->getTitle($values['categories_id']) ?></td>
			<td><?php echo $values['title'] ?></td>
			<td><?php echo $values['price'] ?></td>
			<td><img src="<?php echo $values['image']; ?>"  width="50px" height="50px"/></td>
			<td><?php echo $values['status']==0?"Chưa kích hoạt":"Đã kích hoạt" ?></td>
		</tr>
		<?php
}
?>
	</tbody>

</table>

<div class="modal fade create" id="dialog-form-create">
<?php echo $this->partial('admin-products/form.phtml')?>
</div>
<div class="modal fade edit" id="dialog-form-edit">
<?php echo $this->partial('admin-products/form_edit.phtml')?>
</div>

<script>
//gets table

$(document).ready(function() {
	$('.products').addClass('active');
	 $('#dialog-form-create,#dialog-form-edit').on('hidden.bs.modal', function(e) {
         $('.form-horizontal').trigger("reset");
         $(".title").parent(".col-md-9").removeClass("has-error");
         $(".title").attr("placeholder", "Nhập tên sản phẩm");
         $(".title_plain").parent(".col-md-9").removeClass("has-error");
         $(".title_plain").attr("placeholder", "Nhập đường dẫn");
         $(".price").parent(".col-md-3").removeClass("has-error");
         $(".price").attr("placeholder", "Nhập giá");
         $(".materials").parent(".col-md-9").removeClass("has-error");
         $(".materials").attr("placeholder", "Nhập nguyên liệu");
         
     })
     
     function checkError() {

            var flag = true;
            if ($(".title").val().length == 0) {
                flag = false;
                $(".title").parent(".col-md-9").addClass("has-error");
                $(".title").attr("placeholder", "Vui lòng tên sản phẩm");
            } else {
                $(".title").parent(".col-md-9").removeClass("has-error");
                $(".title").attr("placeholder", "Nhập tên sản phẩm");
            }
            if ($(".title_plain").val().length == 0) {
                flag = false;
                $(".title_plain").parent(".col-md-9").addClass("has-error");
                $(".title_plain").attr("placeholder", "Vui lòng nhập đường dẫn");
            } else {
                $(".title_plain").parent(".col-md-9").removeClass("has-error");
                $(".title_plain").attr("placeholder", "Nhập đường dẫn");
            }
            if ($(".price").val().length == 0) {
                flag = false;
                $(".price").parent(".col-md-3").addClass("has-error");
                $(".price").attr("placeholder", "Vui lòng nhập giá");
            } else {
                $(".price").parent(".col-md-3").removeClass("has-error");
                $(".price").attr("placeholder", "Nhập giá");
            }
            if ($(".materials").val().length == 0) {
                flag = false;
                $(".materials").parent(".col-md-9").addClass("has-error");
                $(".materials").attr("placeholder", "Vui lòng nhập nguyên liệu");
            } else {
                $(".materials").parent(".col-md-9").removeClass("has-error");
                $(".materials").attr("placeholder", "Nhập nguyên liệu");
            }
            return flag;
        }
     
	//Get categories database
	$.ajax({
	   url: 'data',
	   method: 'post',
	   dataType: 'json' 
	})
	.done(function (data){
		 listCategories = '';
	        $.each( data, function( key, value ) {
	        	listCategories += '<option value="'+value.id+'">' + value.title + '</option>';
		    });
	        $('.categories_id').append(listCategories);
	});
	
    //Sent data to box
    $('#dialog-form-create').on('show.bs.modal', function(e) {
        $('.deleteProducts').hide();
        $('.saveProducts').unbind('click');
        var slug = function(str) {
			  str = str.replace(/^\s+|\s+$/g, ''); // trim
			  str = str.toLowerCase();

			  // remove accents, swap ñ for n, etc
			  var from = "ãàáäâẽèéëêìíïîõòóöôùúüûñç·/_,:;ưăứôồốĐđ";
			  var to   = "aaaaaeeeeeiiiiooooouuuunc------uauooodd";
			  for (var i=0, l=from.length ; i<l ; i++) {
			    str = str.replace(new RegExp(from.charAt(i), 'g'), to.charAt(i));
			  }

			  str = str.replace(/[^a-z0-9 -]/g, '') // remove invalid chars
			    .replace(/\s+/g, '-') // collapse whitespace and replace by -
			    .replace(/-+/g, '-'); // collapse dashes

			  return str;
			};
    	$("#title").keyup(function(){
            $("#title_plain").val(slug($(this).val()));        
   		 });
    	$('.saveProducts').click(function(e) {
   			 e.preventDefault();
        	var dataForm = $('.create .form-horizontal').serialize();
        	$.ajax({
        	    url:'add',
        	    method: 'post',
        	    dataType: 'json',
        	    data: dataForm,
                beforeSend:function(){
                	var check = checkError();
					if(check != true)
                	return false;
                },
                complete: function(xhr, textStatus) {
                	location.reload();
                }
            }).done(function(data) {
               location.reload();
            });
        }); 
	});
    $('#dialog-form-edit').on('show.bs.modal', function(e) {
        //     	e.preventDefault();
        var button = $(e.relatedTarget) // Button that triggered the modal
        var recipient = button.data('id') // Extract info from data-* attributes
        console.log(recipient);
        $('.deleteProducts').show();
        //Load data to form
        $.ajax({
            url: 'edit?id=' + recipient + '',
            method: 'post',
            dataType: 'json'
        }).done(function(data) {
            $.each(data, function(val, text) {
                $('.categories_id').val(text.categories_id);
                $('.title').val(text.title);
                $('.title_plain').val(text.title_plain);
                $('.price').val(text.price);
                $(".image_previer").attr("src", text.image);
                $('.unit').val(text.unit);
                $('.materials').val(text.materials);
                $('.status').val(text.status);
            });
        });
        $('.saveProducts').unbind('click');
        
        $('.saveProducts').click(function(e) {
            e.preventDefault();
            var dataForm = $('.edit .form-horizontal').serialize();
            dataForm = dataForm.replace(/&?[^=&]+=(&|$)/g,'');
            console.log(dataForm);
            $.ajax({
                url: 'add?id=' + recipient + '',
                method: 'post',
                dataType: 'json',
                data: dataForm,
                beforeSend:function(){
                	var check = checkError();
					if(check != true)
                	return false;
                },
                complete: function(xhr, textStatus) {
                	location.reload();
                }
            }).done(function(data) {
               location.reload();
            });
        });
        $('.deleteProducts').unbind('click');
        $('.deleteProducts').click(function(e) {
            e.preventDefault();
            var $btn = $(this).button('loading');
            $.ajax({
                type: "POST",
                url: 'delete',
                data: {
                    id: recipient
                },
                complete: function(xhr, textStatus) {
                	location.reload();
                },
                success: function(data) {
                    console.log(data);
                }
            }).fail(function(data) {
                $btn.button('reset');
                console.log(data);
            }).done(function(data) {
                location.reload();
            });
        });
    });
	//Add custom to table
    var table = $('#myTable').DataTable({
    	"pagingType": "full_numbers",
    	"language": {
            	    "emptyTable": "Không có liên hệ nào cho bạn",
//             	    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            	    "info": "",
//             	    "infoEmpty": "Showing 0 to 0 of 0 entries",
            	    "infoEmpty": "",
            	    "infoFiltered": "(Tìm kiếm từ _MAX_ bản ghi)",
            	    "infoPostFix": "",
            	    "thousands": ",",
            	    "lengthMenu": "Hiện _MENU_ bản ghi",
            	    "loadingRecords": "Loading...",
            	    "processing": "Processing...",
            	    "search": "Tìm kiếm:",
            	    "zeroRecords": "Không tìm thấy bản ghi nào",
            	    "paginate": {
            	        "đầu": "Đầu",
            	        "cuối": "Cuối",
            	        "tiếp theo": "Tiếp theo",
            	        "quay lại": "Quay lại"
            	    },
            	    "aria": {
            	        "sortAscending": ": activate to sort column ascending",
            	        "sortDescending": ": activate to sort column descending"
            	    }
            	}
    });
});
</script>

